

<h1 Pets for Adoption at </h1>
<%= @shelter %>

<%@pets.each do |pet| %>
<% if pet.shelter.id.to_i == params[:id].to_i %>
  <div class = polaroid_small>
  <div class = container_small><img class = small src="<%= pet.image_src%>" alt="dog pic" %></div>
  <div class = dogname_small><h4><%= pet.name %></h4></div>
  <div class = petinfo_small>
  <p>Age: <%=pet.approximate_age%></p>
  <p>Sex: <%=pet.sex%></p>
  <p>Description: <%=pet.description%></p>
  <p>Adoption Status: <%=pet.status%></p>
  </div>
  </div>
<% else %>
  <!-- <h2> No Pets Available</h2> -->
<% end %>
<% end %>
